*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background: linear-gradient(130deg,rgba(0,0,0,0.3),rgba(0,0,0,0.3)),url("images/background.jpeg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
    justify-content: center;
    align-items: center;
    min-height: 83vh;
}
#Input{
    width: 370px;
    padding: 15px;
    outline: none;
    border-radius: 20px;
    margin: 50px auto 20px auto;
}
.main{
    width: 50%;
    margin: 50px auto;
    font-family: 'Roboto', sans-serif
}
.main button{
    padding: 15px 30px;
    border: 1px solid #c1121f;
    background:linear-gradient(135deg, #c1121f, #e50914);
    border-radius: 20px;
    transition: 1s;
}
.main button:hover{
    background-color: #e50914;
    transform: scale(1.05);
}
#main{
    width: 400px;
    border: 1px solid rgba(255, 255, 255, 0.2);
    background-color: rgba(255, 255, 255, 0.1);
    margin: 50px auto 0 auto;
    padding: 30px 0;
    min-height: 50px;
    border-radius: 10px;
    font-family: 'Montserrat', sans-serif;
}
#main img{
    border-radius: 50%;
    width: 200px;
    height: 180px;
    margin: 10px auto;
}
#main p{
    color: #f1f1f1;
    margin: 20px 10px 5px 0;
    font-size: 18px;
    font-weight: 700;
}
::-webkit-scrollbar{
    width: 12px;
}
::-webkit-scrollbar-thumb{
    background-color: #1e1e1e;
    border-radius: 20px;
}
::-webkit-scrollbar-track{
    background-color: black;
}

